{% extends "base.html" %}
{% block content %}

<div class="forum-header">
	<small>
		<a href="{{base_path}}">Etusivu</a> < 
		<a href="{{base_path}}/board/{{board.id}}">{{board.name}}</a> < 
		<a href="{{base_path}}/thread/new/{{board.id}}">Uusi keskustelu</a> 
	</small>

	<h2>Uusi keskustelu</h2>
</div>

{% if errors %}
	<div class="alert alert-danger">
		{% for error in errors %}
			{{error}}<br />
		{% endfor %}
	</div>
{% endif %}

<form action="{{base_path}}/thread/new" method="post">
	<input type="hidden" name="board_id" value="{{board.id}}">

	<div class="form-group">
		<label>Otsikko</label>
		<input type="text" name="title" class="form-control" value="{{title}}">
	</div>

	<div class="form-group">
		<button class="btn btn-default" disabled><b>b</b></button>
		<button class="btn btn-default" disabled><i>i</i></button>
		<button class="btn btn-default" disabled>link</button>
	</div>

	<div class="form-group">
		<textarea class="form-control" name="message" rows="10">{{message}}</textarea>
	</div>

	<div class="form-group">
		<button class="btn btn-default" disabled>Esikatselu</button>
		<button class="btn btn-info" type="submit">Luo keskustelu</button>
	</div>
</form>

{% endblock %}