{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}

<div class="forum-header">
	<small>
		<a href="{{base_path}}">Etusivu</a> < 
		<a href="{{base_path}}/board/{{board.id}}">{{board.name}}</a> < 
		<a href="{{base_path}}/thread/{{thread.id}}">{{thread.title}}</a>
	</small>
	
	<h2>{{thread.title}}</h2>
</div>

{% if alert_msg %}
	<div class="alert alert-success">
		{{alert_msg}}
	</div>
{% endif %}

<div class="buttons">
	<form action="{{base_path}}/post/new/{{thread.id}}" method="get" style="display: inline-block">
		{% if thread.locked %}
			<button class="btn btn-info" type="submit" disabled>Vastaa keskusteluun</button>
		{% else %}
			<button class="btn btn-info" type="submit">Vastaa keskusteluun</button>
		{% endif %}
	</form>
	{% if permissions.delete_thread %}
		{{forms.destroy_button("#{base_path}/thread/delete/#{thread.id}", "Poista keskustelu")}}
	{% endif %}
	{% if permissions.lock_thread %}
	    <form method="post" action="{{base_path}}/thread/toggle_locked/{{thread.id}}" style="display: inline-block">
			{% if thread.locked %}
				<button type="submit" class="btn btn-success">Avaa keskustelu</button>
			{% else %}
				<button type="submit" class="btn btn-danger">Lukitse keskustelu</button>
			{% endif %}
	    </form>
	{% endif %}
</div>	

<div class="post-content">
	{% for msg in messages %}
		<div class="single-post">
			<div class="single-post-header">	
				Lähetetty {{msg.time}} <!-- (( muokattu x kertaa, viimeisin insert_aika_here )) -->
				
				<span class="single-post-header-buttons">
					{% if user_logged_in %}
						{% if thread.locked == false %}
							<a href="#" class="btn btn-info btn-xs">Lainaa</a>
							{% if (user_logged_in.id == msg.sender_id) or permissions.edit_message %}
								<a href="{{base_path}}/post/edit/{{msg.id}}" class="btn btn-info btn-xs">Muokkaa</a>
	                        {% endif %}
	                    {% endif %}

						{% if (msg.firstpost == false) and permissions.delete_message %}
						    {{forms.destroy_button("#{base_path}/post/delete/#{msg.id}", "Poista", "btn-xs")}}
						{% endif %}
					{% endif %}
				</span>
			</div>

			<div class="row undo-margins flex-row">
				<div class="single-post-avatar col-xs-2">
					<span class="post-username"><a href="{{base_path}}/user/{{user[msg.sender_id].id}}">{{user[msg.sender_id].username}}</a></span><br>
					<span style="color: {{group[user[msg.sender_id].usergroup_id].color}}; font-size: 12px;"><b>{{group[user[msg.sender_id].usergroup_id].name}}</b></span><br /><br />
					<img src="{{base_path}}/assets/img/default_avatar.png"></img><br /><br />
					<b>Viestejä:</b> {{user[msg.sender_id].postcount()}}
				</div>
				<div class="single-post-content col-xs-10">
					{{msg.message | raw}}
				</div>
			</div>
		</div>
	{% endfor %}
</div>

{% endblock %}