{% extends "base.html" %}
{% block content %}

<div class="forum-header">
	<small>
		<a href="{{base_path}}">Etusivu</a>
	</small>
	
	<h2>Keskustelualueet</h2>

	{% if message %}
		<div class="alert alert-{{style}}">
			{{message}}
		</div>
	{% endif %}
</div>

{% if categories is empty %}
	<em>Ei vielä yhtään kategoriaa tai keskustelualuetta!</em>
{% endif %}

<div class="list">	
	{% for category in categories %}
		<table class="table table-striped-custom table-bordered-custom">
			<thead>
				<tr class="header">
					<th class="col-xs-9">{{category.name}}</th>
					<th class="col-xs-3">Viimeisin viesti</th>
				</tr>
			</thead>

			<tbody>
				{% for board in boards %}
					{% if board.category_id == category.id %}
						<tr>
							<td>
								<a href="{{base_path}}/board/{{board.id}}">{{board.name}}</a><br />
								<small>{{board.description}}</small>
							</td>
							<td>
								{% if lastmsg[board.id] == null %}
									Ei viestejä!
								{% else %}
									<small>
										<b><a href="{{base_path}}/thread/{{lastmsg[board.id]['thread'].id}}">{{lastmsg[board.id]['thread'].title}}</a></b><br />
										{{lastmsg[board.id]['msg'].time}}<br />
										{% if lastmsg[board.id]['user'] %}
											<a href="{{base_path}}/user/{{lastmsg[board.id]['user'].id}}">{{lastmsg[board.id]['user'].username}}</a>
										{% else %}
											[Poistettu käyttäjä]
										{% endif %}
									</small>
								{% endif %}
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	{% endfor %}
</div>

{% endblock %}
