{% extends "base.html" %}
{% block content %}

<div class="buttons">
	<a class="btn btn-success" href="1/newthread" role="button">Uusi keskustelu</a>
</div>

<div class="list">
	<table class="table table-striped-custom table-bordered-custom">
		<thead>
			<tr class="header">
				<th class="col-xs-9">Keskustelu</th>
				<th class="col-xs-1">Viestejä</th>
				<th class="col-xs-2">Viimeisin viesti</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
			<tr>
				<td><a href="../thread/1">Viestiketju</a></td>
				<td>10</td>
				<td>Viimeinen viesti</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
