{% extends "base.html" %}
{% block content %}

<div class="list">
	<table class="table table-striped-custom table-bordered-custom">
		<thead>
			<tr class="header">
				<th class="col-xs-5">Kategoria 1</th>
				<th class="col-xs-1">Viimeisin viesti</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><a href="board/1">Aihealue 1</a></td>
				<td>Linkki viimeiseen viestiin</td>
			</tr>
			<tr>
				<td><a href="board/1">Aihealue 2</a></td>
				<td>Linkki viimeiseen viestiin</td>
			</tr>
			<tr>
				<td><a href="board/1">Aihealue 3</a></td>
				<td>Linkki viimeiseen viestiin</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table table-striped-custom table-bordered-custom">
		<thead>
			<tr class="header">
				<th class="col-xs-5">Kategoria 1</th>
				<th class="col-xs-1">Viimeisin viesti</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td><a href="board/1">Aihealue 1</a></td>
				<td>Linkki viimeiseen viestiin</td>
			</tr>
			<tr>
				<td><a href="board/1">Aihealue 2</a></td>
				<td>Linkki viimeiseen viestiin</td>
			</tr>
			<tr>
				<td><a href="board/1">Aihealue 3</a></td>
				<td>Linkki viimeiseen viestiin</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}
