{% extends "base.html" %}
{% block content %}

<div class="login-form">
	<h1>Kirjaudu sisään</h1>		

	<form action="">
		<div class="form-group">
			<label>Käyttäjätunnus</label>
  			<input type="text" name="tunnus" class="form-control">
		</div>
		<div class="form-group">
			<label>Salasana</label>
  			<input type="password" name="salasana" class="form-control">
		</div>
		<div class="form-group">
			<button class="btn btn-info" type="submit">Kirjaudu sisään</button>
			<a href="/tsoha/register" class="btn btn-default">Rekisteröidy</a>
		</div>
	</form>
</div>

{% endblock %}