{% extends "base.html" %}
{% block content %}

<form action="" class="form-horizontal">
	<div class="form-group">
		<label><h2>Vastaus keskusteluun "Keskustelun otsikko"</h2></label>
	</div>
	<div class="form-group">
		<button class="btn btn-default"><b>b</b></button>
		<button class="btn btn-default"><i>i</i></button>
		<button class="btn btn-default">link</button>
	</div>
	<div class="form-group">
		<textarea class="form-control" rows="10">Tähän tulee sit sen viestin teksti jos editoidaan :-) muuten sama formi</textarea>
	</div>
	<div class="form-group">
		<button class="btn btn-default">Esikatselu</button>
		<button class="btn btn-info" type="submit">Lähetä viesti</button>
	</div>
</form>

{% endblock %}