{% extends "base.html" %}
{% block content %}

<div class="profile">
	<table class="table table-striped-custom">
		<tbody>
			<tr>
				<td class="col-xs-2"><img src="http://i.imgur.com/OL8m8FS.png"></img></td>
				<td class="col-xs-6"><h2>Käyttäjän vlakanie profiili</h2></td>
			</tr>
			<tr>
				<td class="col-xs-2"><b>Käyttäjäryhmä:</b></td>
				<td class="col-xs-6"><span style="color: #FF0000;">Ylläpitäjä</span></td>
			</tr>
			<tr>
				<td class="col-xs-2"><b>Sähköposti:</b></td>
				<td class="col-xs-6"><a href="mailto:osoite@gmail.com">osoite@gmail.com</a></td>
			</tr>
			<tr>
				<td class="col-xs-2"><b>Kotisivu:</b></td>
				<td class="col-xs-6"><a href="http://google.fi">http://google.fi</a></td>
			</tr>
			<tr>
				<td class="col-xs-2"><b>Tietoja minusta:</b></td>
				<td class="col-xs-6">Jotain vapaavalintaista...</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}