body {
	background: #FEFEFE;
}

#main-container{
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
  margin-bottom: 128px;
}

.navbar .container-fluid{
  max-width: 1200px;
  margin: 0px auto;
}

.navbar-custom {
	background: #00C5CD;
	border-color: #8FD8D8;
}

.profile {
	margin-top: 12px;
}

.profile-table {
	margin-top: 6px;
}

.profile-table td {
	padding: 6px;
}

.navbar-custom a {
	color: #FFFFFF;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.header {
	background: #00C5CD;
	color: #FFFFFF;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.buttons {
	padding-bottom: 8px;
	padding-top: 8px;
}

.login-form {
	width: 50%;
}

.forum-header {
	margin-bottom: 8px;
}

.undo-margins {
	margin-right: 0px;
	margin-left: 0px;
}

.post-username {
	font-weight: bold;
	font-size: 16px;
}

.single-post {
	background: #F0F0F0;
	border: 1px solid #909090;
	margin-top: 4px;
	margin-bottom: 12px;
}

.single-post-header {
	display: flex;
	justify-content: space-between;
	padding: 4px;
	border-bottom: 1px solid #909090;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.single-post-header-buttons {
	
}

.single-post-avatar {
	min-width: 112px;
	padding: 6px;
}

.single-post-content {
	border-left: 1px solid #909090;
	padding: 6px;
	min-height: 250px;
}

.table-striped-custom > tbody > tr:nth-of-type(odd) {
  background-color: #F0F0F0;
}

.table-striped-custom > tbody > tr:nth-of-type(even) {
  background-color: #FFFFFF;
}

.table-bordered-custom > thead > tr > th,
.table-bordered-custom > tbody > tr > th,
.table-bordered-custom > tfoot > tr > th {
  border: 1px solid #8FD8D8;
}

.table-bordered-custom > thead > tr > td,
.table-bordered-custom > tbody > tr > td,
.table-bordered-custom > tfoot > tr > td {
  border: 1px solid #8FD8D8;
}