{% extends "base.html" %}
{% block content %}

<div class="forum-header">
	<small>
		<a href="{{base_path}}">Etusivu</a> < 
		<a href="{{base_path}}/board/{{board.id}}">{{board.name}}</a> < 
		<a href="{{base_path}}/thread/{{thread.id}}">{{thread.title}}</a> < 
		<a href="{{base_path}}/post/new/{{thread.id}}">Vastaus keskusteluun</a> 
	</small>

	<h2>Vastaus keskusteluun "{{thread.title}}"</h2>
</div>

{% if error %}
	<div class="alert alert-danger">
		{{error}}
	</div>
{% endif %}

<form method="post" action="{{base_path}}/post/new">
	<input type="hidden" name="thread" value="{{thread.id}}">

	<div class="form-group">
		<button class="btn btn-default"><b>b</b></button>
		<button class="btn btn-default"><i>i</i></button>
		<button class="btn btn-default">link</button>
	</div>
	<div class="form-group">
		<textarea name="message" class="form-control" rows="10"></textarea>
	</div>
	<div class="form-group">
		<button class="btn btn-default" disabled>Esikatselu</button>
		<button class="btn btn-info" type="submit">Lähetä viesti</button>
	</div>
</form>

{% endblock %}