{% extends "base.html" %}
{% block content %}

<div class="forum-header">
	<small>
		<a href="{{base_path}}">Etusivu</a> <
		<a href="{{base_path}}/login">Kirjaudu sisään</a>
	</small>
	
	<h2>Kirjaudu sisään</h2>
</div>

{% if error %}
	<div class="alert alert-danger">
		{{error}}
	</div>
{% endif %}

<div class="login-form">
	<form action="{{base_path}}/login" method="post">
		<div class="form-group">
			<label>Käyttäjätunnus</label>
			<input type="text" name="username" value="{{username}}" class="form-control">
		</div>
		<div class="form-group">
			<label>Salasana</label>
  			<input type="password" name="password" class="form-control">
		</div>
		<div class="form-group">
			<button class="btn btn-info" type="submit">Kirjaudu sisään</button>
			<a href="/tsoha/register" class="btn btn-default">Rekisteröidy</a>
		</div>
	</form>
</div>

{% endblock %}