{% extends "base.html" %}
{% block content %}

<div class="forum-header">
	<small>
		<a href="{{base_path}}">Etusivu</a> < 
		<a href="{{base_path}}/user/{{user.id}}">{{user.username}}</a>
	</small>
</div>

{% if message %}
	<div class="alert alert-success">
		{{message}}
	</div>
{% endif %}

<div class="profile">
	<div class="profile_header">
		<table>
			<tr>
				<td>
					<img src="{{base_path}}/assets/img/default_avatar.png"></img>
				</td>
				<td>
					<h2>{{user.username}}</h2>
					<span style="color: {{group.color}}; font-size: 16px"><b>{{group.name}}</b></span>
				</td>
			</tr>
		</table>	
	</div>
	
	<div class="row">
		<div class="col-xs-6">
			<h3>Yleistä tietoa</h3>
			<table class="profile-table table-striped-custom">
				<tbody>
					<tr>
						<td style="min-width: 150px;"><b>Rekisteröitynyt:</b></td>
						<td style="width: 100%;">{{user.registered}}</td>
					</tr>
					<tr>
						<td><b>Viestimäärä:</b></td>
						<td>{{user.postcount()}}</td>
					</tr>
					<tr>
						<td><b>Sähköposti:</b></td>
						<td>
							{% if user.show_email %}
								<a href="mailto:{{user.email}}">{{user.email}}</a>
							{% else %}
								<i>Käyttäjä on piilottanut sähköpostiosoitteensa</i>
							{% endif %}
						</td>
					</tr>
					<tr>
						<td><b>Tietoja minusta:</b></td>
						<td>
							{% if user.description %}
								{{user.description}}
							{% else %}
								<i>Käyttäjä ei ole antanut kuvausta itsestään.</i>
							{% endif %}
						</td>
					</tr>
				</tbody>
			</table>

			{% if (user_logged_in.id == user.id) or permissions.usermanagement %}
				<div style="margin-top: 12px;">
					<a href="{{base_path}}/user/{{user.id}}/settings" class="btn btn-primary">Muokkaa asetuksia</a>
				</div>
			{% endif %}
		</div>
		<div class="col-xs-6">
			<h3>Käyttäjän saavutukset</h3>
			{% if achievements is empty %}
				<em>Käyttäjällä ei ole vielä yhtään saavutusta</em>
			{% else %}
				{% for ach in achievements|slice(0,2) %}
	                <div class="achievement">
	                    <img src="{{base_path}}/assets/img/achievement.png">
	                    <span>{{ach.name}}</span><br>
	                    {{ach.description}}
	                </div>
				{% endfor %}
				
				{% if achievements|length > 2 %}
					<b>Yhteensä {{achievements|length}} saavutusta! <a href="{{base_path}}/achievements/{{user.id}}">Näytä kaikki!</a></b>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}