{% extends "base.html" %}
{% block content %}

<div class="forum-header">
	<small>
		<a href="{{base_path}}">Etusivu</a> < 
		<a href="{{base_path}}/profile/{{user.id}}">{{user.username}}</a>
	</small>
	
	<h2>{{user.username}}</h2>
</div>

{% if message %}
	<div class="alert alert-success">
		{{message}}
	</div>
{% endif %}

<div class="profile">
	<img src="{{base_path}}/assets/img/default_avatar.png"></img>

	<table class="profile-table table-striped-custom">
		<tbody>
			<tr>
				<td><b>Rekisteröitynyt:</b></td>
				<td>{{user.registered}}</td>
			</tr>
			<tr>
				<td><b>Käyttäjäryhmä:</b></td>
				<td><span style="color: {{group.color}};">{{group.name}}</span></td>
			</tr>
			<tr>
				<td><b>Viestimäärä:</b></td>
				<td>{{user.postcount()}}</td>
			</tr>
			<tr>
				<td><b>Sähköposti:</b></td>
				<td>
					{% if user.show_email %}
						<a href="mailto:{{user.email}}">{{user.email}}</a>
					{% else %}
						<i>Käyttäjä on piilottanut sähköpostiosoitteensa</i>
					{% endif %}
				</td>
			</tr>
			<tr>
				<td><b>Tietoja minusta:</b></td>
				<td>
					{% if user.info %}
						{{user.info}}
					{% else %}
						<i>Käyttäjä ei ole antanut kuvausta itsestään.</i>
					{% endif %}
				</td>
			</tr>
		</tbody>
	</table>
</div>

{% endblock %}